.descriptiondivholder {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description-div {
    width: 70%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.button {
    background-color: #df911da1;
    border: none;
    color: white;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 1px 1px;
    cursor: pointer;
}